body{
    padding: 0;
    margin: 0;    
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.calculadora{
    max-height: 60vw;
    max-width: 40vw;
    padding: 50px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 12px 3px 12px rgba(0, 0, 0, 0.342);
}

.keys{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.keys .number{
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    background-color: azure;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
    
}

.number:hover{
    background-color: rgb(240, 244, 255);
}

.keys .operator:hover{
    background-color: rgb(240, 244, 255);
}

.keys .calculo:hover{
    background-color: rgb(240, 244, 255);
}



.keys .operator{
    flex: 1 1 calc(22.222% - 10px);
    box-sizing: border-box;
    background-color: azure;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
}

.keys .calculo{
    flex: 1;
    box-sizing: border-box;
    background-color: azure;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
}

.keys .clean{
    flex: 1;
    box-sizing: border-box;
    background-color: azure;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
}

div .screen {
    font-size: 30px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
    padding: 30px;
    height: 30vw;
    justify-content: end;
    display: flex;
    flex: 1;
    align-items: end;
    box-sizing: border-box;
    background-color: aliceblue;
    width: 40vw;
    margin-bottom: 30px;
}

